* {
	margin: 0;
}

html, body {
	width: 1024px;
	margin: 0 auto;
	position: relative;
	height: 100%;

}

h1	{
	text-align: center;
	background: #6191bf; /* Fallback background color for non supported browsers */ 
	background-image: -moz-radial-gradient(center 45deg,circle cover, #cde6f9, #6191bf);
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,1000, from(#cde6f9), to(#6191bf));
}

img {
	border-radius: 180px;
}

section {
	padding:  30px;
	-webkit-box-shadow: inset 3px 3px 41px -1px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: inset 3px 3px 41px -1px rgba(0, 0, 0, 0.47);
	box-shadow: inset 3px 3px 41px -1px rgba(0, 0, 0, 0.47);
	background: rgb(180, 180, 180);
}

p, ul, .social {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
}

.contacts {
	display: flex;
	justify-content: space-around;
}

footer {
	height: 30px;
	text-align: center;
	background: #6191bf; /* Fallback background color for non supported browsers */ 
	background-image: -moz-radial-gradient(center 45deg,circle cover, #cde6f9, #6191bf);
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,1000, from(#cde6f9), to(#6191bf));
}

.wrapper {
  display: table;
  height: 100%;
}
.content {
  display: table-row;
  height: 100%;
}